<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "/css/checkout.css">
    <link href="https://unpkg.com/pattern.css" rel="stylesheet">
    <script src="/js/checkout.js"></script>
	<script>
		function apd(id){
			return "/purchase/"+id
		}
	</script>
    <title>Check Out</title>
</head>
<body>

<div class="center-wrapper">
	<div class="content">
	
	<div class="top-bar"><div>
		<i class="fas fa-arrow-left"></i>
		<span class="bb" onclick="piiche()"> Go Back</span>
	</div>
	</div>

	<div class="bag-product pt-4">
		<div class="course_img">
			<img src= <%= course.imageUrl %> class = "img1">
		</div>
		<div class="description">
			<p class="product-code small" style="color: grey;">Product code: <%= course._id %></p>
			<h1><%= course.title %></h1>
			<p class="teacher">By <%= course.teacher[0].fullname %></p>
			<p class="course-info"><%= course.description %></p>
		</div>
	</div>
	<div class="bag-total">
		<div class="total">
			<h3>Price:</h3>
			<h3>$<%= course.price %></h3>
		</div>
		<div class="" style = "margin: 1rem 0;" id="abracadbra">
			<input type="checkbox" name="promo-check" id = "mycheck">
			<label for="promo-check">I have a promo code</label>
		</div>
		<div class="promo_warning" id="warn1">
           <p class="warn1">Please Enter a Promo Code!</p>
		</div>
		<div class="promo_warning" id="warn2">
			<p class="warn1">Promo Code Should be AlphaNumeric and atleast 6 characters long!</p>
		 </div>
		 
		<div class="promo_warning" id="warn3">
			<p class="warn1">Invalid Promo Code!</p>
		 </div>
		 <div class="promo_warning" id="good90" style="color: #22ad3a;">
			<p class="warn1">Promo Code Applied</p>
		 </div>
		<div class="promo-code" id="promo_input">
			<input type="text" name="promo-checkbox" id = "promo" placeholder="Enter your promo code here">
			<button class="apply" onclick="confrm()">Apply</button>


		</div>
		
		<form action="/purchase/<%= course._id %>" method="post">
		<button class = "checkbtn" type = "submit" id = "chkout">
			<div>Proceed to Checkout</div>
		</button></form>
		 <!-- <input class = "checkbtn" type="submit" value="Proceed To Checkout"> -->
		 </input
	</form>
	</div>
	<div style="text-align: center; 
    margin-bottom: 2rem; margin-top: 0.7rem;">
		
		<abbr title="Click To Copy Phone Number" style="text-decoration: none;" id="ccpy">
			<p class="hlp" onclick="copytoclip(8076779704)">Need help? Call +91 8076779704 
				</p></abbr>
	</div>
</div>
</div>
<div class="bg"></div>
<div class="pop_container">
<div class="popover1" id="rem123">
 <div  style="text-align: center;"> Copied To Clipboard!</div>
</div></div>
<!-- <%- include('footer'); -%> -->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</body>
</html>
