<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css'>    
    <link rel = "stylesheet" href = "/css/wishlist.css">
    <script src = "/js/script.js"></script>
 
    <title>Wishlist</title>
</head>
<body style="background-color: #0f0707;">
  <%- include('login-header'); -%>
 <div class="bodyMain">
    <div class="outer3">
    <div>
        <div class="maincontainer">
            <div class="wishmain d-flex ">
                <div class="d-none d-xl-block mb-5">
                    <div class="">
                        <div class="card" style="width: 18rem; background-color: #181a1b;">
                            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASwAAACoCAMAAABt9SM9AAAAA1BMVEUAlv+tY//LAAAAR0lEQVR4nO3BAQEAAACCIP+vbkhAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAO8GxYgAAb0jQ/cAAAAASUVORK5CYII=" class="card-img-top" alt="...">
                            <div class="card-body" style="border-bottom: 2px solid grey; padding-bottom: 1.5rem" >
                              
                              <div class="userpic_con">  
                              <div class="userpic">
                                    
                                </div></div>
                                <
                              <h5 class="proftitle2 align-items-end" >Welcome, <%=user.fullname.split(' ')[0]%></h5>
                            </div>
                            <ul class="list-group list-group-flush" style="font-size: 16px;">
                              <li class="list-group-item atb" style=" border-bottom: 2px solid grey; background-color: #181a1b;"><a href = "/student-profile">Your Profile</a></li>
                              <li class="list-group-item atb" style="border-bottom: 2px solid grey;  background-color: #181a1b;"><a href = "/wishlist"> Wishlist</a></li>
                              <li class="list-group-item atb" style="border-bottom: 2px solid grey;  background-color: #181a1b;"><a href = "/yourcourses">Your Courses</a></li>
                              <li class="list-group-item atb" style="border-bottom: 2px solid grey;  background-color: #181a1b;"><a href = "/">Home</a></li>
                              
                              <li class="atb list-group-item" style="border-bottom: 2px solid grey;  background-color: #181a1b;"><a href = "/logout" id = "logoutbtn" class = "logout-button">Log Out</a></li>
                            </ul>

                            
                          </div>
                    </div>
                    <div class="blackblock"></div>
                    

                </div>
               <div class="spaceline"></div>
                <div class="rightpanel">
                    <div class="rightcont">
                        <div class="rightmain d-flex flex-column">
                            <div class="rhead">
                               <div class=""> Your Wishlist (<%=user.wishlist.length %>)</div>
                            </div>
                          
                          

                            <% for (let i = 0;i<user.wishlist.length;i++){ %>
                              <div class="wishblock">
                                <div class="imgcontainer">
                                    <img src = <%=user.wishlist[i].imageUrl %>  class = "course-img img-fluid"
                                    width="230px">
                                
                         
                                </div>

                                <div class="wishitemleft d-flex flex-column">
                                  <div class="title2">
                                    <a href = "http://localhost:8000/coursedescpage/<%=user.wishlist[i]._id%>" class = "courselink"><%= user.wishlist[i].title %></a>
                                  </div>

                                  <div class="teacher">
                                    <a>By <%= user.wishlist[i].teacher[0].fullname %></a>
                                  </div>

                                  <div class="rating">
                                    <div class="rate pt-1">
                                        <label for="star5" title2="text">5 stars</label>
                                        <label for="star4" title2="text">4 stars</label>
                                        <label for="star3" title2="text">3 stars</label>
                                        <label for="star2" title2="text">2 stars</label>
                                        <label for="star1" title2="text">1 star</label>
                                        
                                      </div>
                                      
                                  </div>

                                  <div class="price">
                                    <div><p>$<%= user.wishlist[i].price %></p></div>
                                  </div>
                                </div>

                                <div class="rightitembar">
                                  
                                    <form id="del" method="POST" action="/remove-wishlist/<%= user.wishlist[i]._id %>">
                                    <input type="hidden" name="del-item">
                                    <div onclick="document.getElementById('del').submit();" style="padding-left: 2rem;">
                                      <i class="bi bi-trash delicon" id = 'delete1'></i></div>
                                    </form>
                                    
                                    
                                    <button class="buy-now" onclick="window.location.href = '/checkout/<%=user.wishlist[i]._id %>' ">Buy Now</button>

                                </div>
                            </div>
                            <%}%>


                            <% if (user.wishlist.length === 0){ %>
                            <div class = "nothinginwish">Your Wishlist is Empty!</div>
                            
                            <%}%>
                            

              
                            

                  
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    
    <%- include('footer'); -%>

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    
  </div>
</body>
<style>
  .atb{
color: rgb(192, 186, 178);
background-color: #181a1b;
padding: .75rem 1.25rem;
}

</style>
</html>
